body{
    background-image: url(images/background.svg); 
    background-color: #81D7AD;
    min-width: 344px;
    height: 295px;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    margin: 35px 0 0 0;
}

#prompt {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #0E0B0B;
    width: 100%;
    margin: 13px 0 0 0;
}

select {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    color: #002863;
    width: 180px;
    height: 40px;
    margin: 27px 0 0 0;
    padding: 5px 35px 5px 5px;
}

.selectperson {
    display: flex;
    justify-content: center;
    align-items: center;
}

#addgift {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
}

#addgift-btn {
    text-align: center;
    line-height: 20px;
    background-color: #F5DA77;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: #002863;
    border: none;
    margin: 10px;
    padding: 10px 20px;
    width: 180px;
}

