body{
    background-color: #81D7AD;
    min-width: 300px;
    height: 400px;
}

.title {
    text-align: center;
    font-size: 36px;
}

#item-clicked {
    text-align: center;
    font-size: 24px;
}

.selectperson {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.addgift {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#addgift {
    text-align: center;
}